<!-- ------------------------ Side Bar ------------------------ -->


<ul class="nav flex-column bg-body-secondary text-center" style="font-size: larger; height:700px;">
    <li class="nav-item "><a routerLink="/admin/dashboard" class="nav-link p-3 dm-serif-display-regular-italic">Dashboard</a></li>
    <li class="nav-item"><a routerLink="/admin/products" class="nav-link p-3 dm-serif-display-regular-italic">Products</a></li>
    <li class="nav-item"><a routerLink="/admin/product" class="nav-link p-3 dm-serif-display-regular-italic"> Add Product</a></li>
    <li class="nav-item"><a routerLink="/admin/orders" class="nav-link p-3 dm-serif-display-regular-italic">Orders</a></li><br><br>
    <button (click)="logout()" class="btn btn-primary active">Logout</button>
</ul>




<!-- ------------------------------- End -------------------------------------- -->