<div class="row">
    <div class="col-lg-12 pt-3 text-center" style="background-color: gray;">
        <h1 class="bebas-neue-regular">Dashboard</h1>

    </div>

    <!-- <div class="col-lg-3 pt-4 text-end" style="background-color: gray;">
        <button (click)="addproduct()" class="btn btn-primary active">Add Product</button>
        <button (click)="logout()" class="btn btn-primary active">Logout</button>
    </div> -->
</div>


<!-- ------------------ Cards ----------------------- -->


<div class="row row-cols-1 row-cols-md-3 pr-5 pt-5 text-center">

    <div class="col ">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="height: 350px;">
            <img src="../../../assets/images/Product.png" style="width: 200px;" class="card-img-top d-block mx-auto"
                alt="Hollywood Sign on The Hill" />

            <div class="card-body">

                <h4>[ {{products.length}} ]</h4>
                <h3 class="card-title">Total Products</h3>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="height: 350px;">
            <img src="../../../assets/images/Comments.png" style="width: 200px;" class="card-img-top d-block mx-auto"
                alt="Palm Springs Road" />
            <div class="card-body">

                <h4>[ 5 ]</h4>
                <h3 class="card-title">Comments</h3>

            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="height: 350px;">
            <img src="../../../assets/images/complete order.jpg" style="width: 200px;"
                class="card-img-top d-block mx-auto" alt="Los Angeles Skyscrapers" />
            <div class="card-body">

                <h4>[{{order.length}}]</h4>
                <h3 class="card-title">Orders</h3>

            </div>
        </div>
    </div>
</div>





<!-- <div class="row mt-5">
    <div class="col-lg-2 my-auto mx-auto">
        <div class="card bg-primary text-white">
            <div class="card-header"> 
                <h5>Card Header 1</h5>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="card-footer">
                <h5>Card Footer 1</h5>
            </div>
        </div>
    </div>

    <div class="col-lg-2 my-auto mx-auto">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h5>Card Header 1</h5>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="card-footer">
                <h5>Card Footer 1</h5>
            </div>
        </div>
    </div>


    <div class="col-lg-2 my-auto mx-auto">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h5>Card Header 1</h5>,
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="card-footer">
                <h5>Card Footer 1</h5>
            </div>
        </div>
    </div>


    <div class="col-lg-2 my-auto mx-auto">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h5>Card Header 1</h5>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="card-footer">
                <h5>Card Footer 1</h5>
            </div>
        </div>
    </div>
</div> -->